<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>array 파일 연결 확인</h1>
    {{! 1. for문 2.if문(true시 실행, fales 미실행) }}
    {{#list}}
    {{.}}
    {{/list}}

    {{! list 중 1개만 view하고 싶을 때 }}
    {{list.0}}
  </body>
</html>
